<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Dvidder - Register</title>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="css/style.css"></link>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="user-details-container">
                    <center>
                        <img src="/img/logo.png" id="logo"></img>
                    </center>
                    <form th:action="@{/register}" th:object="${registrationForm}" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input th:field="*{username}" class="form-control" type="text" name="username" id="username"/>
                            <small class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</small>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input th:field="*{password}" class="form-control" type="password" name="password" id="password"/>  
                            <small class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</small>
                        </div>
                        <div class="form-group">
                            <label for="profilepic">Profile picture</label>
                            <input th:field="*{profilepic}" class="form-control" type="file" accept="image/*"/>
                            <small class="error" th:if="${#fields.hasErrors('profilepic')}" th:errors="*{profilepic}">Profilepic error</small>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input th:field="*{defaultPicture}" name="defaultPicture" type="checkbox"></input> Use default picture
                            </label>
                        </div>
                        <br />
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                        <br />
                    </form>
                    <p>Already have an account? <a th:href="@{/login}">Login</a></p>
                </div>
            </div>
        </div>
    </body>
</html>